<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'validar_datos_admin_login' %}" method="post">{% csrf_token %}
        <div>
            <label for="">ingrese su contraseña personal</label>
            <input type="password">
        </div>
        <div>
            <button type="submit">enviar</button>
        </div>
        
    </form>
    
</body>
</html>