{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h3>Los administradores deben tener una contraseña personal.</h3><br>
            <h3>La misma se le solicitará cada inicio de sesión</h3>
        </div>
        <div>
            <form id="form_contraseña_personal" method="post" action="{% url 'validar_contraseña_personal' %}">{% csrf_token %}
                {{html_content_pass|safe}}
                <div id="id_estado_contraseñas"></div>
                <div id="id_boton_enviar_form" class="form_group">
                    <button id="btn_contraseña_personal" type="submit">Enviar</button>
                </div>
            </form>
        </div>
        <div>
            <div id="id_continuar"></div>
        </div>
    </div>
    <script src="{% static 'js/crear_contraseña_personal.js' %}"></script>
</body>
</html>