{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Usuario</title>
    <link rel="stylesheet" href="{% static 'css/crearusuario.css' %}">
</head>
<body>
    <h1 class="top">Crear Usuario</h1>
    <div >
        <div class="form">
            <form id="id_form_crear_usuario" method="post" action="{% url 'crearUsuario' %}">
                {% csrf_token %}
                <div>
                    <label for="nombre">NOMBRES</label>
                    <input type="text" name="nombre" id="id_nombre_form">
                    <label for="apellido">APELLIDOS</label>
                    <input type="text" name="apellido" id="id_apellido_form">
                </div>
                <div>
                    <label for="email">EMAIL</label>
                    <input type="text" name="email" id="id_email_form">
                    <label for="DNI">DNI</label>
                    <input type="text" name="DNI" id="id_DNI_form">
                </div>
                
                <div class="inputs">
                    <label for="usuario">USUARIO</label>
                    <input type="text" name="usuario" id="id_usuario_form" readonly>
                    <label for="contraseña">CONTRASEÑA</label>
                    <input type="text" name="contraseña" id="id_contraseña_form">
                    <label for="amdin">¿ES ADMIN?</label>
                    <input type="checkbox" name="admin" id="id_admin_form">
                    <div id="id_contraseña"></div>
                </div>
                <div>
                    <button type="submit">Enviar</button>
                </div>
                <div id="messages"></div>
            </form>
        </div>
    </div>
    <script src="{% static 'js/crearUsuario.js' %}"></script>
</body>
</html>
