{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear</title>
</head>
<body>
    <div class="container">
        <div class="">
            <div>
                <button class="bottom" onclick="location.href='{% url 'crear' %}'">BARRIO</button>
                <button class="bottom" onclick="location.href='{% url 'crear' %}'">CASA</button>
            </div>
        </div>
    </div>
    
</body>
</html>

