.form_group {
    margin-bottom: 1rem;
}

.form_group label {
    display: block;
    margin-bottom: 0.5rem;
}
body, html {
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Arial, sans-serif; /* Cambia la fuente del contenedor */
    
}

.top {
    background-color: red; /* Color de la parte superior */
    flex: .5;
    padding: 20px;
    color: white
}

.bottom {
    background-color: white; /* Color de la parte inferior */
    flex: 2; /* Ajusta la altura de la parte inferior */
    padding: 20px;
}

.opciones{
    display: flex;
}

.styled-table {
    width: 80%;
    border-collapse: collapse;
    margin-right: 50 auto;
    margin-top: 80px;
    font-size: 1em;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead th {
    background-color: #f2f2f2;
    color: #333;
    text-align: left;
    padding: 12px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.styled-table tbody td {
    color: #666;
    border-top: 1px solid #ccc;
    padding: 12px;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.styled-table tbody tr:hover {
    background-color: #e0e0e0;
}

.styled-table tbody td:last-child {
    text-align: center;
}

.styled-table tbody td:last-child button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.styled-table tbody td:last-child button:hover {
    background-color: #0056b3;
}
